/* 
AJUSTE DE COLORES DE COMPONENTES ROTOS 
*/
:root {
  --white: #ffffff;
  --hover-color-menus: #f5f5f5;
  --border-light: #dbdbdb;
}

.dropmenu-is-light {
  background-color: var(--white) !important;
}

.dropmenu-is-light:hover {
  background-color: var(--hover-color-menus) !important;
}

.add-filter,
.select-css {
  background-color: var(--hover-color-menus) !important;
  background: white;
  color: black;
}


.dropdown-content .dropdown-item {
  background-color: var(--white) !important;
  /* o el color que desees */

}

.dropdown-content .dropdown-item:hover {
  background-color: var(--hover-color-menus) !important;
}

.dropdown .background {
  bottom: auto !important;
}


/* Modo oscuro rápido con filtro invert
NO TOCARRR
*/
[data-theme='dark'] {
  filter: invert(1) hue-rotate(180deg);
  background-color: #121212 !important;
  transition: filter 0.3s ease;
}

/* Para que imágenes y videos no se inviertan */
[data-theme='dark'] img,
[data-theme='dark'] video {
  filter: invert(1) hue-rotate(180deg);
}

/* Asegura scrollbars y controles nativos con color scheme */
html {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

.background-animated,
.notfound-section {
  background-color: white;
}



/*
ESTILO DE REJILLAS PARA AG UI EXCELL
*/

.ag-cell[col-id="esferica"] {
  pointer-events: none;
  cursor: default;
}

.buefy-balham-light .custom-cell-selected {
  background-color: rgba(100, 149, 237, 0.3) !important;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.buefy-balham-light .custom-cell-selected.border-top {
  border-top: 2px solid rgb(100, 149, 237) !important;
}

.buefy-balham-light .custom-cell-selected.border-right {
  border-right: 2px solid rgb(100, 149, 237) !important;
}

.buefy-balham-light .custom-cell-selected.border-bottom {
  border-bottom: 2px solid rgb(100, 149, 237) !important;
}

.buefy-balham-light .custom-cell-selected.border-left {
  border-left: 2px solid rgb(100, 149, 237) !important;
}

.buefy-balham-light .ag-cell {
  cursor: grab;
  /* Cursor por defecto */
}



/*
MENU PARA MOSTRAR EL RESUMEN DE LA SELECCION
*/



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


